# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch Lightning logs and checkpoints
lightning_logs/
model_checkpoints/

# Visualizations and plots
**/plots/

# Virtual environment
venv/
.env/
env/
.venv/

# VSCode and IDE-specific
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Python egg and packaging
*.egg-info/
*.egg
dist/
build/

# Testing, profiling, coverage
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
*.log

# Runtime files
*.pkl
*.h5
*.pt
*.ckpt

# Env config
.env
*.env

# Misc
*.swp
